div.big-box{
  color: #FFFFFF;
  padding: 0;
  position: relative;
  div.primary-box{
    font-size: 22px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    transition-timing-function: linear;
    /* transition: height 3s ease-out, width 5s ease-in; */ 
    &:hover{
      width: 120%;
      position: absolute;
      z-index:6;
      top:-5vh;
      margin-left: -10%;
      height: 70vh;
    }
    &:hover img.cover, .not-found, ul.back-card{
      height: 70vh;
    } 
    &:hover .not-found{
      height: 70vh;
    } 
    &:hover ul.back-card{
      height: 70vh;
      visibility: visible;
      cursor: pointer;
    } 
    img.cover{
      width: 90%;
      height: 60vh;
      margin-bottom:20px;
      cursor: pointer;
    }
    .not-found{
      width: 90%;
      height: 60vh;
      background-color: rgba(0,0,0,0.5);
      text-align: center;
      border: 1px solid #000000;
      margin-bottom:20px;
      h3{
        color: #FFFFFF;
        margin: 25px 0;
      }
    }
    ul.back-card{
      padding: 0;
      visibility: hidden;
      position: absolute;
      top: 0%;
      width: 90%;
      height: 60vh;
      background-color: #000000;
      opacity: 0.8;
      overflow: auto;
      transition: all 0.3s;
      transition-timing-function: linear;
      li{
        width: 100%;
        text-align: center;
        line-height: 30px;
        .flag{
          width: 30px;
          height: 20px;
          margin-left: 5px;
          margin-top:5px;
        }
        &.star{
          text-align: left;
          margin-top: 10px;
          position: relative;
          span{
            margin-left: 25%;
          }
          .empty,.solid{
            position:absolute;
            left:41%;
            color: #FFBD00;
            overflow: hidden;
          }
          .inner{
            width: 124px;
          }
        }
        &:first-child{
          margin-top: 15px;
        }
        h5{
          margin-top: 10px;
          font-size: 15px;
          line-height: 18px;
          text-align: left;
          padding: 0  10px;
          &.open-text,
          h6.close-text{
            border: 1px solid #EC0000;
            padding: 10px 20px;
            width: 80%;
            margin: 10px auto;
          }
        }
        h6{
          margin-top: 5%;
          font-size: 15px;
          text-align: center;
        }
      }
    }
  };
};