h1{
  margin-left: 10%;
  margin-top:10vh
}
h2.home-films{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}
.nav-list{
  width: 320px;
  font-size: 18px;
  color:#EC0000;
  position: absolute;
  right: 4%;
  top: 150px;
  li{
    cursor: pointer;
    &:hover{
      color: #808080;
      font-size: 23px;
    }
    &.active{
      color: #FFFFFF;
      font-weight: bold;
      font-size: 28px;

    }
  }
}